/*
netflix colors

black main: #030303
light black: #101011
white: #f2f2f2
red: #e50914

*/


/*====================
navbar
======================*/

.contentMenuRow .col-md-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.cmNavbar {
    background-color: #101011;
    padding-left: 5%;
    padding-top: 1%;
}

Nav p{
    color: white;
    font-size: 16px;
}

.cmText {
    color: #f2f2f2 !important;
}

.navbarProfileSection {
    margin-right: 10% !important;
}

.navbarProfileIcon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: -15%;
}

.profileFloat {
    float: right;
}

/*====================
movies section
======================*/

.moviesSection{
    margin-top: 2%;
}

.moviesSection p{
    color: white;
}

.contentSection {
    position: relative;
    margin: 0 auto;
    width: 90%;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    
}

.contentSection::-webkit-scrollbar {
    width: 20px;
}

.contentSection::-webkit-scrollbar-track {
    background: transparent;
}

.moviesSection:hover > .contentSection::-webkit-scrollbar-thumb{
    visibility: visible;
}

.contentSection::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: #e50914;
    border-radius: 50px;
}

#swipeLeft{
    position: absolute;
    background-color: #f2f2f200;
    height: 140px;
    width: 5%;
    z-index: 900;
    left: 0;
    transition: 0.3s;
    transform: translate(5px);
}

#swipeLeft:hover{
    background-color: #f2f2f28f;
    transition: 0.3s;
    cursor: pointer;
}

#swipeRight {
    position: absolute;
    background-color: #f2f2f200;
    height: 140px;
    width: 5%;
    z-index: 900;
    right: 0;
    transition: 0.3s;
}

#swipeRight:hover {
    background-color: #f2f2f28f;
    transition: 0.3s;
    cursor: pointer;
}

.movieTitleWrapper{
    width: 90%;
    margin: 0 auto;
}

.sectionHeader {
   margin-left: 5px;
}

.selectionWrapper {
    position: relative;
    display: inline-block;
    height: 140px;
    margin-left: 5px;
    overflow: hidden;
}

.selectionBox img{
    width: 250px;
    transform: translate(-20px);
    filter: blur(0.1px);
    align-content: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    transition: 0.3s;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    user-select: none;
}

.overlayText h4{
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.3s;
    margin-left: 10%;
    margin-top: 30%;
    user-select: none;
}

.overlayText p{
    color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: 0.3s;
    margin-left: 10%;
    user-select: none;
}

.overlayText img{
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    transition: 0.3s;
    width: 25%;
    margin-bottom: 5%;
    margin-right: 10%;
    user-select: none;
}

.selectionWrapper:hover>.overlayText h4{
    color: white;
    transition: 0.3s;
}

.selectionWrapper:hover>.overlayText p {
    color: white;
    transition: 0.3s;
}

.selectionWrapper:hover>.overlayText img {
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

.selectionWrapper:hover>.selectionBox img{
    filter: blur(5px);
    transition: 0.3s;
    -webkit-backface-visibility: hidden;
}



/*====================
footer section
======================*/

footer {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 1%;
}

.footerWrapperContent{
    margin: 0 auto;
    width: 70%;
}

.iconsWrapper{
    margin-left: 3%;
}


.footerUpper{
    margin-left: 3%;
}

.footerUpper p{
    color: grey;
    margin-bottom: 4%;
    font-size: 14px;
    font-family: sf-regular;
}


.footerIcons{
    margin-bottom: 20px;
    margin-left: 10px;
}

.footerIcons img{
    width: 30px; 
    display: inline-block;
    margin-right: 2%;
}

.footerLower{
    margin-top: 1%;
    margin-left: 4%;
}


.footerLower Button{
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    border-radius: 0px;
    padding: 5px;
    font-family: sf-regular;
    font-size: 14px;
}

.footerLower Button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    border-radius: 0px;
    padding: 5px;
    font-size: 14px;
}

.footerLower p {
    color: grey;
    margin-top: 1%;
    font-size: 12px;
    user-select: none;
    margin-bottom: 5px;
    font-family: sf-regular;
}

