.footerWrapper{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
}

.footerWrapper .contentBox{
    padding: 20px;
    text-align: center;
}

.contentBox p {
    display: inline-block;
    margin: 1%;
}

.footerDropdown{
    margin-top: 1%;
}
