@font-face {
    font-family: 'sf-regular';
    src: url('./fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'sf-thin';
    src: url('./fonts/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'sf-ultralight';
    src: url('./fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
}

/*
netflix colors

black main: #030303
light black: #101011
white: #f2f2f2
red: e50914

*/

body{
    background-color: #101011 !important;
}

